Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61348/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CriticsClubServices" />
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CriticsClubServices" minOccurs="0" name="GetAllBooksResult" nillable="true" type="q1:ArrayOfbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClubs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClubsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CriticsClubServices" minOccurs="0" name="GetAllClubsResult" nillable="true" type="q2:ArrayOfclub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CriticsClubServices" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q3:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInClub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="club_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInClubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CriticsClubServices" minOccurs="0" name="GetAllUsersInClubResult" nillable="true" type="q4:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksPerClub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="club_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksPerClubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CriticsClubServices" minOccurs="0" name="GetAllBooksPerClubResult" nillable="true" type="q5:ArrayOfbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>