Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CriticsClubServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CriticsClubServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfbook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="book" nillable="true" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbook" nillable="true" type="tns:ArrayOfbook" />
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="book_id" type="xs:int" />
      <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pages" type="xs:int" />
      <xs:element minOccurs="0" name="publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subgenre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="book" nillable="true" type="tns:book" />
  <xs:complexType name="ArrayOfclub">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="club" nillable="true" type="tns:club" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclub" nillable="true" type="tns:ArrayOfclub" />
  <xs:complexType name="club">
    <xs:sequence>
      <xs:element minOccurs="0" name="club_id" type="xs:int" />
      <xs:element minOccurs="0" name="club_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="club" nillable="true" type="tns:club" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="club_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
</xs:schema>