Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61348/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61348/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61348/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CriticsClubServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClubs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClubs" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClubs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClubsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsersInClub_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersInClub" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsersInClub_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersInClubResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBooksPerClub_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksPerClub" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBooksPerClub_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksPerClubResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllBooks" message="tns:IService1_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllBooksResponse" message="tns:IService1_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClubs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllClubs" message="tns:IService1_GetAllClubs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllClubsResponse" message="tns:IService1_GetAllClubs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersInClub">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsersInClub" message="tns:IService1_GetAllUsersInClub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersInClubResponse" message="tns:IService1_GetAllUsersInClub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooksPerClub">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllBooksPerClub" message="tns:IService1_GetAllBooksPerClub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllBooksPerClubResponse" message="tns:IService1_GetAllBooksPerClub_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>